
<md-list flex>
    <md-subheader class="md-no-sticky">Menu</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="item in vm.menu track by $index" ng-click="null">
        <img ng-src="{{item.image}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ item.title }}</h3>
            <h4>Price&nbsp;{{ item.price }}</h4>
            <h4>Rating&nbsp;{{ item.rating}}</h4>
            <p>
                <span ng-repeat="ingredient in item.ingredients track by $index">{{ingredient}}&nbsp;</span>
            </p>
        </div>
        <md-button class="md-raised md-warn" ng-click="vm.makeOrder(item.id)">Make Order</md-button>
    </md-list-item>
    <md-divider ></md-divider>

</md-list>