.md-block.md-icon-float {
  margin-left: 40px;
  position: relative; }
  .md-block.md-icon-float .md-icon {
    position: absolute;
    left: -10px; }

.cook ingredients-list {
  width: 100%; }

.cook .md-list {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden; }
  .cook .md-list .md-subheader {
    font-size: 16px;
    font-weight: bold; }

.list-inline {
  display: inline;
  font-style: italic;
  padding: 0 10px; }
