<h2>Orders</h2>
<md-content class="md-padding cook" layout="row" layout-wrap>
    <md-card ng-repeat="item in vm.dishes" flex="30">
        <img ng-src="{{item.dish.image}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.dish.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>
                <ingredients-list ingredients="item.dish.ingredients"></ingredients-list>

            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <md-radio-group ng-model="item.status">

                <md-radio-button value="0" class="md-primary">Ordered</md-radio-button>
                <md-radio-button value="1"> In Progress </md-radio-button>
                <md-radio-button value="2">To Delivery</md-radio-button>

            </md-radio-group>
        </md-card-content>
    </md-card>
</md-content>
