<h2>Orders</h2>
<md-content class="md-padding cook" layout="row" layout-wrap>
    <md-card ng-repeat="item in vm.dishes" flex="30">
        <img ng-src="{{item.dish.image}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.dish.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-title class="small-title">
            <md-card-title-text>
                <span class="md-headline">Ingredients List</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">

            <md-card-icon-actions class="list-inline">
                <span ng-repeat="ingredient in item.dish.ingredients track by $index">
                    <span ng-if="$index > 0">,&nbsp;</span>{{ingredient}}</span>
            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <div class="md-headline">Order Status</div>
            <div>{{vm.status[item.status]}}</div>
        </md-card-content>
    </md-card>
</md-content>
